* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    background-color: #f4f8f8;
  }
  .page-container {
    width: 100%;
    display: flex; 
    justify-items: center;
    align-items :center;
    padding: 20px 25px;
  }
  
  .content-container{ 
    width: 100%;
    height: 100%;
    display: flex; 
    justify-items: center;
    align-items :center;
    padding: 20px 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  h1, h2 {
    text-align: center;
  }
  
  .table-container{
    width :70%;
    max-height: 1000px; 
    margin: 10px ;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h3{ 
    font-size: 1.5em; 
    font-weight: bold;
    text-align: left;
    color: #333; 
    background-color: #fff;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f4f8f8;
    color: black;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .form-container {
    margin-top: 15px;
    margin-left: 20px;
    max-height: 300px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  